h1 {
    text-align: center;
    color: white;
    font-family: arial;
    width: 25ch;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(60) forwards;
    user-select: none;
}


h2 {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 60ch;
    }
}

iframe {
    margin-left: 38%;
}
